@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto' sans-serif;
    background: url('assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
}
