<div class="main-container">
  <h3>Karta Pacjenta</h3>

  <div>
    <div class="hr-line">
      <button class="btn-start">Dodaj Pacjenta</button>
      <button class="btn-start">Wczytaj Pacjenta</button>
    </div>

    <div>
      <div class="patient-data1"><br>
        <label>Pesel</label>
        <input type="text" class="form-control">
        <label>Imię</label>
        <input type="text" class="form-control">
        <label>Nazwisko</label>
        <input type="text" class="form-control">
      </div>

      <div class="patient-data1"><br>

        <div class="dropdown-window">
          <label>Przychodnia</label><br>
          <select class="dropdown-window-btn" [(ngModel)]="selectedDecimal">
            <option *ngFor="let item of data" [ngValue]="item">{{item}}</option>
          </select>
        </div>

        <label>Choroby przewlekłe:</label>
        <textarea class="form-control-ill"></textarea>

      </div>
    </div>
    <div  class="hr-line">
      <button style="float: right; margin-right: 20px;" class="btn-start">Edytuj</button>
      <button style="float: right;" class="btn-start">Zapisz</button>
    </div>

  </div>

</div>






<!--
  <strong id="name" ng-if="!editMode">{{ name }}</strong>
<span ng-if="editMode">
  <input ng-model="name">
  <button ng-click="save(keyword); editMode = false">Save</button>
  <span>


    <td>
      <button ng-click="editKeyword(keyword); editMode = true">Edit</button>
      <button ng-click="deleteKeyword(keyword)">Delete</button>
    </td>
  -->
