<div class="main-container">
  <h3>Karta Pacjenta</h3>
  <div>
    <div class="hr-line">
      <button class="btn-start" (click)="appPatient.addNew()">Dodaj Pacjenta</button>
      <button class="btn-start" (click)="csvReader.file()">Wczytaj Pacjenta
        <input type="file" style="display:none" (change)="csvReader.openFile($event)">
      </button>
    </div>
    <app-patient #appPatient [editMode]="editMode" (eventEditMode)="save($event)" [newPatient]="patient"></app-patient>
    <app-csv-reader #csvReader (eventCSVEmiter)="check($event)"></app-csv-reader>

    <div class="hr-line">
      <ng-container *ngIf="isClicked == true || editMode == true">
        <button style="float: right; margin-right: 20px;" class="btn-start" (click)="edit()">
          <ng-container *ngIf="editMode == false; else cancelEdit">
            Edytuj
          </ng-container>
          <ng-template #cancelEdit>
            Zakończ Edycję
          </ng-template>
        </button>
      </ng-container>
      <ng-container *ngIf="isClicked == true">
        <button style="float: right;" class="btn-start" (click)="appPatient.save(saveFile)">Zapisz</button>
      </ng-container>
      <ng-container *ngIf="editMode === true; else elseBlock3">
        <h6>Nazwa pliku zapisu: <input type="text" class="savefile" [(ngModel)]="saveFile"> </h6>
      </ng-container>
      <ng-template #elseBlock3>
        <h6>Nazwa pliku zapisu: {{saveFile}}</h6>
      </ng-template>
    </div>

  </div>

</div>
