<div class="main-container">
  <h3>Karta Pacjenta</h3>

  <div>
    <div class="hr-line">
      <button class="btn-start">Dodaj Pacjenta</button>
      <button class="btn-start">Wczytaj Pacjenta</button>
    </div>
    <app-patient #appPatient [editMode] = "editMode" (eventEditMode) = "save($event)"></app-patient>


    <div class="hr-line">
      <button style="float: right; margin-right: 20px;" class="btn-start" (click)="edit()">
        <ng-container *ngIf = "editMode == false; else cancelEdit">
        Edytuj
        </ng-container>
        <ng-template #cancelEdit>
        Anuluj Edycję
        </ng-template>

      </button>
      <ng-container *ngIf="editMode == true">
      <button style="float: right;" class="btn-start" (click)="appPatient.save()">Zapisz</button>
      </ng-container>

    </div>

  </div>

</div>






<!--
  <strong id="name" ng-if="!editMode">{{ name }}</strong>
<span ng-if="editMode">
  <input ng-model="name">
  <button ng-click="save(keyword); editMode = false">Save</button>
  <span>


    <td>
      <button ng-click="editKeyword(keyword); editMode = true">Edit</button>
      <button ng-click="deleteKeyword(keyword)">Delete</button>
    </td>
  -->
