<div>
  <div class="patient-data1"><br>
    <label>Pesel</label>
    <ng-container *ngIf="editMode === true; else elseBlock1">
      <input type="text" class="form-control" value="{{patientModel.pesel}}" [(ngModel)] = "pesel">
    </ng-container>
    <ng-template #elseBlock1>
      <h4>{{patientModel.pesel}}</h4>
    </ng-template>
    <label>Imię</label>
    <ng-container *ngIf="editMode === true; else elseBlock2">
      <input type="text" class="form-control">
    </ng-container>
    <ng-template #elseBlock2>
      <h4>{{patientModel.name}}</h4>
    </ng-template>
    <label>Nazwisko</label>
    <ng-container *ngIf="editMode === true; else elseBlock3">
    <input type="text" class="form-control">
    </ng-container>
    <ng-template #elseBlock3>
      <h4>{{patientModel.surname}}</h4>
    </ng-template>

  </div>

  <div class="patient-data1"><br>

    <div class="dropdown-window">
      <label>Przychodnia</label><br>
      <select class="dropdown-window-btn" [(ngModel)]="selectedDecimal">
        <option *ngFor="let item of data" [ngValue]="item">{{item}}</option>
      </select>
    </div>

    <label>Choroby przewlekłe:</label>
    <textarea class="form-control-ill"></textarea>

  </div>
</div>
